<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sweb-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Shopping App</a>
    </div>
    <div class="collapse navbar-collapse" id="sweb-nav">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
        <li *ngIf="isAuthenticated()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']"><span class="glyphicon glyphicon-user"></span> PROFILE</a></li>
        <li *ngIf="isAuthenticated()" [routerLinkActive]="['active']"><a [routerLink]="['/lists']"><span class="glyphicon glyphicon-list-alt"></span> LISTS</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/about']"><span class="glyphicon glyphicon-question-sign"></span> ABOUT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isAuthenticated()"><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li *ngIf="!isAuthenticated()"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="isAuthenticated()"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
