<div *ngIf="user">

  <div class="page-header">
    <h2>General informations</h2>
  </div>
  <img src="http://www.gravatar.com/avatar/{{gravatarId}}?d=identicon" class="row, col-sm-2" alt="avatar" />

  <div>
    <label>Name: </label> {{user.name}}
  </div>
  <div>
    <label>Email: </label> {{user.email}}
  </div>
  <div>
    <label>Joined: </label> {{user.creationDate | date:'medium'}}
  </div>
  <div>
    <label>Last update: </label> {{user.lastUpdate | date:'medium'}}
  </div>
  <button [routerLink]="['/profile/update']">Update</button>
</div>
