<div *ngIf="user" class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h2>Update {{user.name}} profile</h2>
  </div>

  <img src="http://www.gravatar.com/avatar/{{gravatarId}}?d=identicon" class="col-sm-2" alt="avatar" />
  <div class="col-sm-10">
    <a href="http://gravatar.com/emails" target="_blank" class="btn btn-success" role="button">Change avatar on Gravatar</a>
  </div>

  <form class="col-sm-12" name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">User name</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="user.name" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">Email adress</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />
      <div *ngIf="f.submitted && !email.valid" class="help-block">Email adress is required</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Update</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <a [routerLink]="['/profile']" class="btn btn-link">Cancel</a>
    </div>

  </form>

  <div class="page-header">
    <h2>Change password</h2>
  </div>

  <form class="col-sm-12" name="form" (ngSubmit)="changePassForm.form.valid && changePassword()" #changePassForm="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': changePassForm.submitted && !pw1.valid }">
      <label for="pw1">New password</label>
      <input type="password" class="form-control" name="pw1" [(ngModel)]="passwords[0]" #pw1="ngModel" required />
      <div *ngIf="changePassForm.submitted && !pw1.valid" class="help-block">New password is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': changePassForm.submitted && !pw2.valid }">
      <label for="pw2">Retype new password</label>
      <input type="password" class="form-control" name="pw2" [(ngModel)]="passwords[1]" #pw2="ngModel" required />
      <div *ngIf="changePassForm.submitted && !pw2.valid" class="help-block">Retyping new password is required</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Change</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <a [routerLink]="['/profile']" class="btn btn-link">Cancel</a>
    </div>

  </form>
</div>
