body {
  background: #69f;
  color: #eee;
}

@media (min-width: 768px) {
  .shaweb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.shaweb_form_container .shaweb_form_title {
  text-align: center;
  line-height: 200%;
}

.shaweb_form_container .shaweb_form .input-group.i {
  width: 2em;
}
.shaweb_form_container .shaweb_form  .help-block {
  color: red;
}
