<sweb-navbar></sweb-navbar>
<sweb-alert></sweb-alert>

<!-- main app container -->
<div class="container">
  <!-- <div class="jumbotron">
      <router-outlet></router-outlet>
  </div> -->
  <div class="panel panel-default">
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
</div>
</div>

<!-- credits -->
<footer class="container-fluid text-center">
  <p>
    <a href="https://github.com/tyoras/ShoppingWeb" target="_top">Shopping App</a>
  </p>
  <p>
    <a href="https://github.com/tyoras" target="_top">Yoan Alvarez-Vanhard</a>
  </p>
</footer>
