<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <!-- <div class="col-sm-8 col-sm-offset-2"> -->
      <sweb-toolbar></sweb-toolbar>
      <sweb-navbar></sweb-navbar>
      <sweb-alert></sweb-alert>
      <router-outlet></router-outlet>
    <!-- </div> -->
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="https://github.com/tyoras/ShoppingWeb" target="_top">Shopping App</a>
  </p>
  <p>
    <a href="https://github.com/tyoras" target="_top">Yoan Alvarez-Vanhard</a>
  </p>
</div>
