<div *ngIf="item">
  <div class="page-header">
    <h2>{{item.name}}
      <span class="pull-right">
        <button [disabled]="loading" class="btn btn-danger" (click)="cancelItem()"><span class="glyphicon glyphicon-remove"></span></button>
        <button [disabled]="loading" class="btn btn-primary" (click)="deleteItem()"><span class="glyphicon glyphicon-trash"></span></button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      </span>
    </h2>
  </div>

  <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
    <div [ngClass]="{ 'has-error': f.submitted && (!quantity.valid || !name.valid) }">
        <span [ngSwitch]="item.state" (click)="changeState()">
          <button *ngSwitchCase="'TO_BUY'" [disabled]="loading" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
          <button *ngSwitchCase="'BOUGHT'" [disabled]="loading" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
          <button *ngSwitchCase="'CANCELLED'" [disabled]="loading" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
          <button *ngSwitchDefault [disabled]="loading" class="btn btn-info"><span class="glyphicon glyphicon-question-sign"></span></button>
        </span>
        <input type="number" min="1" name="quantity" [(ngModel)]="item.quantity" #quantity="ngModel" value="1" required /> x
        <input type="text" name="name" [(ngModel)]="item.name" #name="ngModel" placeholder="item name" required />
        <button [disabled]="loading" class="btn btn-primary">Update</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <div *ngIf="f.submitted && !quantity.valid" class="help-block">Quantity is required</div>
        <div *ngIf="f.submitted && !name.valid" class="help-block">Item name is required</div>
      </div>
  </form>
  <dl class="dl-horizontal">
    <dt>Created</dt>
    <dd>{{item.creationDate | date:'medium'}}</dd>
    <dt>Updated</dt>
    <dd>{{item.lastUpdate | date:'medium'}}</dd>
  </dl>
  <div class="row">
  </div>
  <a (click)="gotoList()" class="btn btn-link">Cancel</a>
</div>
